.idea/
.ipynb_checkpoints/
.DS_Store
__pycache__/
abs/
base_ensemble_sklearn.py
build/
data/
ensemble_bandit.py
filename.py
ignored.py
mallet/filenames.py
metamap/public_mm/
out/auctioning_params
out/metamap
out/metrics/base_keras_for_*
out/params
out/sklearn_mixed_hyperparams
savs/
umls/creds.py
venv/

*tmp.txt
*.spec
*.pyc
*csv
*copy
